:root {
    --primary-color: rgba(231, 231, 231, 0.797);
    --neutral-color: rgba(167, 167, 167, 0.797);
    --secondary-color: black;
    --shadow-light:  drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.35));
    --shadow-light-small:  drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.2));
    --border: 1px solid var(--primary-color);
    --bg-gradient: linear-gradient(45deg, black, #001030);
}


body {
    font-family: "Inconsolata", sans-serif;
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}
.cover {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
}

.cover-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--secondary-color);
    object-fit: cover;
}
.cover-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.cover-button {
    color: var(--secondary-color);
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    padding:10px;
    padding-inline:15px;
    border-radius: 10px;
    background-color: var(--primary-color);
    filter:var(--shadow-light);
    margin-top:30px;
}
.cover-button i {
    margin-right: 10px;
}

.cover-content {
    align-items: start;
    max-width: 350px;
    margin:20px;
}

/* Avatar */

.avatar-box {
    display: flex;
    flex-direction: row;
    margin-bottom:20px;
}

.avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: var(--border);
    object-fit: cover;
}

.avatar-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.avatar-info h1 {
    font-size: 30px;
}
.avatar-info p {
    font-size: 17px;
    color: var(--neutral-color);
}

.desc {
    margin-top: 15px;
    margin-bottom: 20px;
}

/*Navbar */

.navbar {
    background: #00050F;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0px;
}
.navbar ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    justify-content: start;
    align-items: center;
    width: 100%;
    border: none;
}
.navbar ul li {
    margin-right: 10px;
    border:1px solid transparent;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    padding-inline: 15px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width:fit-content;
}
.navbar ul li:hover {
    border:var(--border);
}


/* Hero image */
/* Badges */

.badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7px;
}
.badge {
    width: fit-content;
    background-color: transparent;
    color: var(--primary-color);
    padding: 5px;
    padding-inline:10px;
    border-radius: 20px;
    font-size: x-small;
    border: var(--border);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.badge:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transform: scale(1.05) rotate(2.5deg);
    filter: var(--shadow-light-small);
}

/* buttons */
.btn {
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    padding:10px;
    padding-inline:15px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
.btn i {
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
}
.btn:hover {
    transform: scale(0.99);
}
.btn:hover i {
    transform: rotate(360deg);
}
.btn-primary {
    background-color: var(--primary-color);
    filter:var(--shadow-light);
    color: var(--secondary-color);
}

.btn-outline {
    background-color: transparent;
    color: var(--primary-color);
    border: var(--border);
    filter:var(--shadow-light);
}

.btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
}