{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jcjakec</title>

    <link rel="stylesheet" href="{% static 'landing.css' %}"/>
    <link rel="icon" type="image/ico" href="https://avatars.githubusercontent.com/u/62814980?v=4"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'landing.js' %}"></script>
</head>
<body>
    

    <div class="cover">
      <div class="cover-content">
        <div class="avatar-box">
            <img class="avatar" src="https://avatars.githubusercontent.com/u/62814980?v=4"/>
            <div class="avatar-info">
                <h1>jcjakec</h1>
                <p>Web Developer</p>
            </div>
        </div>
        <p class="desc">I'm a web developer with experience in django, flask, static sites, frontend work and more.</p>
        <div class="cover-button" id="cover-button">
            <i class="bi bi-arrow-down"></i><span>Test</span>
        </div>
      </div>
    </div>


    <nav class="navbar">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a href="#">PROJECTS</a></li>
        </ul>
    </nav>


</body>
</html>
